@font-face {
  font-family: "Fira Code";
  src: url("fonts/FiraCode-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Box sizing everywhere */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin and padding [left & right] on everything, then re-add sane ones below */
* {
  margin-inline: 0;
  padding-inline: 0;
}

body {
  /* top right lelf bottom */
  padding: 0 20px 20px 20px;
  width: 100%;
  max-width: 600px;
  margin-inline: auto; /* put it in center */
  color: var(--text);
  background-color: var(--crust);
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

math[display="block"] {
  display: block;
  text-align: center;
  background-color: var(--mantle);
  padding: 1rem 1em 1em 1em; /* t r b l */
  width: 100%;
  border-radius: 0.5em;
  margin: 1em 0;
  overflow-x: auto;
}

p, h1, h2, h3, h4, h5 ,h6 {
   overflow-wrap: break-word;
}

a:not([class]) {
  color: var(--accent);
  text-decoration: none;
}

a:visited:not([class]) {
  color: var(--flamingo);
}

a:hover:not([class]) {
  text-decoration: underline;
}

a:active:not([class]) {
  font-weight: bold
}

nav[role="doc-toc"] a {
  color: var(--subtext1);
}

nav[role="doc-toc"] a:visited:not([class]) {
  color: var(--subtext1);
}

ol, ul {
  padding-left: 1em; /* 2em 2 fonts width */
  list-style-position: inside;
}

/* Target's TOC H1 header entry's and make's it bold.

Source - https://stackoverflow.com/a/37993820
Posted by Stickers
Retrieved 2026-08-24, License - CC BY-SA 3.0
*/

nav[role="doc-toc"] ol {
  font-weight: bold;
}

/* resets nested lists children to normal weight */
nav[role="doc-toc"] ol ol {
  font-weight: normal;
}

main#content {
  margin: 0 auto;
}

blockquote:not([class]) {
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 10%;
  margin-right: 10%;
}

blockquote:not([class]) + p {
  text-align: right !important; /* cuz we set `#content p` to justify */
  font-style: italic;
  margin-top: -0.5em;
  margin-right: 10%;
}

table {
  border-collapse: collapse;
}

th, td {
  padding: 10px 5px;
}

table, th, td {
  border: 1px solid var(--text);
}

dl {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 6px 16px;      /* row-gap column-gap */
  margin: 0;
}

dt { font-weight: 600; }

dd { margin: 0; }

hr {
  background: var(--text);
  border: 0;
  height: 1px;
}

main#content table {
  display: block;
  overflow-x: auto;
  max-width: 100%;
}

main#content p {
  /* text-align: justify; it sucks */
}



/* [custom checkbox] */
li:has(> input[type="checkbox"]) {
  list-style-type: none;
}