/* Box sizing everywhere */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin and padding [left & right] on everything, then re-add sane ones below */
* {
  margin-inline: 0;
  padding-inline: 0;
}

body {
  /* top right lelf bottom */
  padding: 0 20px 20px 20px;
  color: var(--crust);
  background-color: var(--text);
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

p, h1, h2, h3, h4, h5 ,h6 {
   overflow-wrap: break-word;
}

a:not([class]) {
  color: var(--accent);
  text-decoration: none;
}

a:visited:not([class]) {
  color: var(--flamingo);
}

a:hover:not([class]) {
  text-decoration: underline;
}

a:active:not([class]) {
  font-weight: bold
}

nav[role="doc-toc"] a {
  color: var(--subtext1);
}

ol ul {
  padding-left: 2em; /* 2 fonts width */
}

/* Target's TOC H1 header entry's and make's it bold.

Source - https://stackoverflow.com/a/37993820
Posted by Stickers
Retrieved 2026-08-24, License - CC BY-SA 3.0
*/

nav[role="doc-toc"] ol {
  font-weight: bold;
}

/* resets nested lists children to normal weight */
nav[role="doc-toc"] ol ol {
  font-weight: normal;
}




main#content {
  width: 100%;
  max-width: 600px;
}