.markdown-alert {
  border-left: 0.25em solid transparent;
  margin-bottom: 16px;
  padding: 0.5rem 1em;
  border-radius: 0 4px 4px 0; /* Optional: adds a slight curve on the right */
}

.markdown-alert-title {
  font-family: monospace;
  display: flex;
  align-items: center;
  font-weight: 800;
  margin-bottom: 8px;
}

.markdown-alert .octicon {
  margin-right: 8px;
}

.markdown-alert-note {
  border-left-color: #1e66f5; 
  background-color: rgba(30, 102, 245, 0.1);
}
.markdown-alert-note .markdown-alert-title {
  color: #1e66f5;
}

.markdown-alert-tip {
  border-left-color: #40a02b;
  background-color: rgba(64, 160, 43, 0.1);
}
.markdown-alert-tip .markdown-alert-title {
  color: #40a02b;
}

.markdown-alert-important {
  border-left-color: #8839ef;
  background-color: rgba(136, 57, 239, 0.1);
}
.markdown-alert-important .markdown-alert-title {
  color: #8839ef;
}

.markdown-alert-warning {
  border-left-color: #df8e1d;
  background-color: rgba(223, 142, 29, 0.1);
}
.markdown-alert-warning .markdown-alert-title {
  color: #df8e1d;
}

.markdown-alert-caution {
  border-left-color: #d20f39;
  background-color: rgba(210, 15, 57, 0.1);
}
.markdown-alert-caution .markdown-alert-title {
  color: #d20f39;
}

.markdown-alert-quote {
  border-left-color: #656d76;
  background-color: rgba(101, 109, 118, 0.1);
}
.markdown-alert-quote .markdown-alert-title {
  color: #656d76;
}

.markdown-alert-decree {
  border-left-color: #dd7878;
  background-color: rgba(221, 120, 120, 0.1);
}
.markdown-alert-decree .markdown-alert-title {
  color: #dd7878;
}