/* Box sizing everywhere */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin on everything, then re-add sane ones below */
* {
  margin: 0;
}

body {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  background-color: var(--bg);
  padding: 0 20px 20px 20px;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5 ,h6 {
   margin-top: 1em;
}

p {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

blockquote {
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 10%;
  margin-right: 10%;
}