img, figure img {
  max-width: 100%;
  height: auto;
}

img {
  background-color: var(--mantle);
  padding: 3px 3px 3px 3px; /* t r b l */
  border-radius: 2px;
} 

figcaption {
  font-style: italic;
  padding: 2px;
  text-align: center;
}
