img, figure img {
  max-width: 100%;
  height: auto;
}

img {
  background-color: var(--base);
  padding: 6px 6px 6px 6px; /* t r b l */
  border-radius: 4px;
} 

figcaption {
  font-style: italic;
  padding: 2px;
  text-align: center;
}
