img {
  max-width: 100%;
  height: auto !important;
  border: 2px solid var(--mantle);
  border-radius: 4px;
}

figure img {
  max-width: 100%;
  height: auto !important;
}

figcaption {
  font-style: italic;
  padding: 2px;
  text-align: center;
}
