/* unvisited link */
  a:link:not([class]) {
    color: var(--accent);
  }

  /* visited link */
  a:visited:not([class]) {
    color: var(--accent);
  }

  /* mouse over link */
  a:hover:not([class]) {
    color: var(--accent);
    text-decoration: none;
  }

  /* selected link */
  a:active:not([class]) {
    color: var(--accent);
    text-decoration: none;
  }
