/* We had reseted margin-[left | right] to zero for all elements at beginning. Here we are bring back the Default margin of lists inside #content.

Source - https://stackoverflow.com/a/72522106
Posted by SNikhill
Retrieved 2026-08-24, License - CC BY-SA 4.0
*/

#content ol, ul, li, {
 margin: revert;
 padding: revert; /* Padding is what gives the indentation */ 
} 

/* Target's TOC H1 header entry's and make's it bold.

Source - https://stackoverflow.com/a/37993820
Posted by Stickers
Retrieved 2026-08-24, License - CC BY-SA 3.0
*/

nav[role="doc-toc"] ol {
  font-weight: bold;
} 
nav[role="doc-toc"] ol ol {
  font-weight: normal;
}
nav[role="doc-toc"] a {
  text-decoration: none;
}

nav[role="doc-toc"],
nav[role="doc-toc"] ol,
nav[role="doc-toc"] li,
nav[role="doc-toc"] a,
nav[role="doc-toc"] a:link,
nav[role="doc-toc"] a:visited {
  color: var(--subtext1) !important;
  text-decoration: none;
}

nav[role="doc-toc"] a:hover {
  color: var(--accent) !important;
  text-decoration: none;
}

span.prefix {
  display: inline-block;
  margin-right: 0.5em;
}